
#menu {
  margin-bottom: 10px;
}

.menu-button::placeholder {
  text-align: left;
  color: #13284c;
}

.leaderboard-header {
  background-color: #13284c;
}
.leaderboard-header::placeholder {
  color: white;
  text-transform: capitalize;
}