@import url('http://fonts.cdnfonts.com/css/google-sans');

html {
  font-family: 'Product Sans', sans-serif;
}

.hud {
  margin: auto;
  text-align: center;
}

.hud-label {
  margin: 10px;
}

.hud-num {
  text-align: center;
}

#replay:hover {
  cursor: pointer;
}

#board {
  border-collapse: collapse;
  margin: auto;
}

.cell {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}